
*{
    font-size: 18px;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Prompt', sans-serif;
}

.btn{
    margin: 10px !important ;
}
.input{
   height: 40px !important;
   padding-bottom: 4px !important;
   
}
.hello {
   width:10% !important;
    height: 30px !important;
}

#background1{
    background-attachment: fixed;
}

label{
    font-size: 20px !important;
    font-weight: bold !important;

}

.confirm-field{
    margin: 5px!important;
}


/* for facebook button 
*/
